body{
	font-family: "Roboto", sans-serif;
	color: #000;
	background-color: #fff;
	height: 100%;
	padding-top: 50px!important;
	scroll-behavior: smooth;
	overflow-x: hidden;
	letter-spacing: 2px;
}

div{
	margin: 0!important;
	padding: 0!important;
}

/* NAV */


.navbar{
	background-color: #088434;
	font-size: small;
	z-index: 3;
	font-weight: bold;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
}

.nav-link{
	color: #fff !important;
	margin-top: 10px;
	font-weight: bold;
	transition: .2s;
}

.nav-link:hover{
	color: #f8bc2c!important;
	transform: scale(1.05);
}

.nav-link.active {
	font-weight: bolder;
	transform: scale(1.2);
	color: #f8bc2c!important;
}

.navbar-toggler { 
	margin: 0 auto;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 188, 44, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: transparent;
	margin-right: 10px;
} 


.custom-toggler:focus, .custom-toggler:active, .custom-toggler:hover{
	box-shadow: none!important;
	outline: 0;
}

.logo-nav{
	height: 75px;
}

.logo-sm-nav{
	display: none;
	width: 150px;
}


.nav-item{
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
}

.nav-brand{
	text-align: center;
}



.logo-nav-small{
	width: 100px;
}

/* TEXT */

h1{
	font-size: 3.5em;
	font-weight: bolder;
	color: #f8bc2c;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0px;
}

h2{
	font-size: x-large;
	font-weight: bold;
}

h3{
	font-size: small;
	line-height: 2;
}

hr{
	padding: 0;
	border: 2px solid #f8bc2c;
	text-align: center;
	opacity: 1;
	width: 50px;
	margin-bottom: 25px;
}

p{
	font-size: medium;
}

span{
	color: #f8bc2c;
}


::selection {
	color:  #000;
	background: #f8bc2c;
}

.wapp{
	width: 3.5em;
}


.center{
	text-align: center!important;
}


/* SECTIONS */

video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 75%;
	pointer-events: none;
}

.patron {
	height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	pointer-events: none;
}

.home{
	height: 100vh;
	text-align: center;
	background-image: url("../img/banners/home-banner.jpeg");
	background-position: center;
}

.s-patron{
	height: fit-content;
}

.g-patron{
	height: fit-content;
	color: #fff;
	background-color: #088434;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23000' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23000' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
	background-position: center;
}

.g-patron a{
	color: #f8bc2c;
}

.map-container{
	overflow:hidden;
	position:relative;
	height: 0;
}

.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	background-color: #fff;
}

.footer{
	font-size: small;
	text-align: center;
	height: fit-content;
	color: #fff;
	background-color: #088434;
	background-image: url("../img/backgrounds/bg2.png");
	background-position: center;
	background-size: cover;

}

.footer p{
	font-size: small;
	letter-spacing: 2px;
}

.cp{
	font-size: xx-small!important;
	color: #fff!important;
}

/* IMG */

img{
	user-select: none;
}

.main-logo{
	height: 80vh;
}

.logo{
	height: 300px;
	transition: .5s;
	margin: 15px!important;
	filter: brightness(0) invert(1);
	z-index: 1;
}

.logo-f{
	height: 75px;
}

.brand-gallery-w{
	width: 100%!important;
}

.brand-gallery-h{
	height: 100%;
}


.social-icon{
	font-size: large;
	color: #fff;
	transition: .2s;
	padding-right: 20px;
	padding-left: 20px;

}

/* BUTTONS */

.btn{
	background-color: #f8bc2c;
	font-size: medium;
	font-weight: bold;
	border: solid;
	border-width: thin;
	border-color: #f8bc2c;
	border-radius: 0px;
	padding: 20px;
	transition: .2s;
	width: 250px;
	color: #fff!important;
	text-transform: uppercase;
}

.btn:hover{
	transform: translateY(-5px);
}

.btn:focus, .btn:active{
	box-shadow: none!important;
	outline: 0;
}

.up{
	transition: .5s;
}

.up:hover{
	transform: scale(1.2);
}


.icon-wap{
	font-size: 1em;
}

.iconx{
	font-size: xx-large;
	color: #f8bc2c;
}

.social-icon:hover{
	color: #f8bc2c;
}

#wappBtn {
	position: fixed;
	bottom: 50px;
	right: 35px;
	z-index: 90;
	outline: none; 
	background-color: #107c34;
	cursor: pointer;
	font-weight: bolder;
	border-color: #fff!important;
	border: solid;
	border-width: 5px;
	transition: 0.5s;
	border-radius: 100%;
	padding: 5px!important;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#wappBtn:hover {
	transform: scale(1.1);
	background-color: #f8bc2c;
}

/* SCREEN */

@media only screen and (max-width: 1024px){

	.logo-sm-nav{
		display: inline;
	}

	.logo-nav{
		display: none;
	}

	.hide{
		display: none;
	}

	.main-logo{
		width: 90%;
		height: auto;
	}

	h1{
		font-size: xx-large;
	}

	h2{
		font-size: x-large;
	}

	p{
		font-size: small;
	}

	.cardx{
		width: 100%;
	}

	.logo{
		width: 50%;
		height: auto;
	}


	.sponsors{
		width: 80%;
	}

	.sponsors2{
		width: 80%;
	}

	.btn{
		font-size: small;
	}

	.footer-logo{
		height: 75px;
	}

	.iconx{
		font-size: x-large;
	}

	.s-patron{
		text-align: justify-all!important;
	}

}


/* SCROLLBAR */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background: #f8bc2c;
}

::-webkit-scrollbar-thumb:hover {
	background: #f8bc2c;
}