body{
	font-family: "Roboto", sans-serif;
	color: #000;
	background-color: #107c34;
	height: 100%;
	padding-top: 50px!important;
	scroll-behavior: smooth;
	overflow-x: hidden;
	letter-spacing: 2px;
}

div{
	margin: 0!important;
	padding: 0!important;
}

div {
	scroll-margin-top: 115px; /* Ajuste de desplazamiento para el navbar */
}

/* NAV */


.navbar{
	background-color: #107c34;
	font-size: 1rem;
	z-index: 3;
	font-weight: bold;
	filter: drop-shadow(0 0 0.25rem #000);

}

.nav-item{
	width: 100%;
}

.nav-link{
	color: #fff;
	margin-top: 10px;
	font-weight: bold;
	transition: .2s;
}

.nav-link:hover, .nav-link:focus{
	color: #f8bc2c;
}


.navbar-toggler { 
	margin: 0 auto;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 188, 44, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: transparent;
	margin-right: 10px;
} 


.custom-toggler:focus, .custom-toggler:active, .custom-toggler:hover{
	box-shadow: none;
	outline: 0;
}

.logo-nav{
	height: 5rem;
}

.logo-sm-nav{
	display: none;
	width: 150px;
}


.nav-item{
	text-align: center;
}

.nav-brand{
	text-align: center;
}


/* TEXT */

h1, h2{
	font-size: 3.5rem;
	font-weight: bolder;
	color: #f8bc2c;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0px;
}


h3{
	font-size: 2.25rem;
	font-weight: bold;
	color: #f8bc2c;
	text-transform: uppercase;
	letter-spacing: 0px;
}

hr{
	padding: 0;
	border: 2px solid #f8bc2c;
	text-align: center;
	opacity: 1;
	width: 10rem;
	align-items: center;
	justify-content: center;
	display: flex;
}

p{
	font-size: 1.25rem;
}

span{
	color: #f8bc2c;
}


::selection {
	color:  #000;
	background: #f8bc2c;
}

.center{
	text-align: center!important;
}


/* SECTIONS */

video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 75%;
	pointer-events: none;
}

.patron {
	height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	pointer-events: none;
}

.home{
	height: 100vh;
	text-align: center;
	background-image: url("../assets/banners/home-banner.jpeg");
	background-position: center;
}

.s-patron{
	height: fit-content;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23000' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23000' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
	background-position: center;
}

.g-patron{
	height: fit-content;
	color: #fff;
	background-color: #107c34;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23000' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23000' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
	background-position: center;
}

.c-patron{
	height: fit-content;
	color: #fff;
	background-color: #107c34;
	background-image: url("../assets/banners/contacto.jpg");
	background-position: center;
	background-size: cover;
}

.c-patron h2{
	color: #fff;
}


.c-patron hr{
	border-color: #fff;
}

.g-patron a{
	color: #f8bc2c;
}

.centros p{
	font-size: 1rem;
}

.centros{
	background-color: rgba(0, 0, 0, .3);
	margin: .5rem!important;
	border-radius: .25rem;
	border-color: transparent;
}

.servicios{
	background-color: rgba(0, 0, 0, .3);
	margin: .5rem!important;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: .25rem;

}

.servicios h3{
	font-size: 1.8rem;
	margin: 0px;
}

.space{
	height: 3rem;
}

.card{
	background-color: rgba(0, 0, 0, .2);
	border-color: transparent;
	border-radius: .25rem;
	width: 100%;
	height: fit-content;
	padding: 2rem!important;
	text-align: center;
	transition: .5s;
}

.card:hover{
	transform: translateY(-10px);
}

.card-img-top{
	padding: 2rempx;
}

.card-text{
	color: #f8bc2c;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.card-subtext{
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
}

.sucursales, .servicio, .productos, .nosotros{
	height: 100vh;
	background-attachment: fixed;
}

.sucursales{
	background-image: url("../assets/banners/sucursales.png");
	background-position: center;

}

.servicio{
	background-image: url("../assets/banners/servicios.png");
	background-position: 25%;

}

.productos{	
	background-image: url("../assets/banners/productos.png");
	background-position: center;
	background-size: cover;

}

#productos h3{
	color: #fff;
}

.nosotros{
	background-image: url("../assets/banners/nosotros.png");
	background-position: center;

}

.map-container{
	overflow:hidden;
	position:relative;
	height: 0;
}

.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	background-color: #fff;
}

.mini-map{
	border-radius: .25rem;
	border: solid thin transparent;
	height: 20rem;
}

.footer{
	text-align: center;
	height: fit-content;
	color: #fff;
	background-color: #107c34;
	background-image: url("../assets/backgrounds/bg2.png");
	background-position: center;
	background-size: cover;

}

.footer p{
	font-size: 1rem;
}


.copy{
	font-size: .5rem!important;
	color: #fff;
}

/* IMG */

img{
	user-select: none;
}

.main-logo{
	height: 80vh;
}

.logo{
	height: 25rem;
	filter: brightness(0) invert(1);
	z-index: 1;
}

.logo-f{
	height: 75px;
}

.brand-gallery-w{
	width: 100%!important;
}

.brand-gallery-h{
	height: 100%;
}


.social-icon{
	font-size: 2.5rem;
	color: #fff;
	transition: .2s;
	padding-right: 20px;
	padding-left: 20px;

}

/* BUTTONS */

.btn{
	background-color: #f8bc2c;
	font-size: 1.2rem;
	font-weight: bold;
	border: solid;
	border-width: thin;
	border-color: #f8bc2c;
	border-radius: .25rem;
	padding: 1.5rem;
	transition: .2s;
	width: 250px;
	color: #fff!important;
	text-transform: uppercase;
}

.btn:hover{
	transform: translateY(-5px);
}

.btn:focus, .btn:active{
	box-shadow: none!important;
	outline: 0;
}

.social-icon:hover{
	color: #f8bc2c;
}

#wappBtn {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 90;
	outline: none; 
	background-color: #107c34;
	cursor: pointer;
	font-weight: bolder;
	border-color: #fff!important;
	border: solid;
	border-width: 5px;
	transition: 0.5s;
	border-radius: 100%;
	padding: 5px!important;
	filter: drop-shadow(0 0 0.25rem #000);
}

#wappBtn:hover {
	transform: translateY(-.5rem);
	background-color: #f8bc2c;
}

.wapp{
	width: 5rem;
}


/* SCREEN */

@media only screen and (max-width: 1400px){

	.logo-sm-nav{
		display: inline;
	}

	.logo-nav{
		display: none;
	}

	.hide{
		display: none;
	}

	.main-logo{
		width: 90%;
		height: auto;
	}
}

@media only screen and (max-width: 1024px){

	h1, h2{
		font-size: 3rem;
	}


	h3{
		font-size: 2rem;
	}


	p{
		font-size: 1.2rem;
	}

	.logo{
		width: 80%;
		height: auto;
	}


	.btn{
		font-size: 1.2rem;
	}

	.footer-logo{
		height: 75px;
	}

	.s-patron{
		text-align: justify-all!important;
	}

}


/* SCROLLBAR */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background: #f8bc2c;
}

::-webkit-scrollbar-thumb:hover {
	background: #f8bc2c;
}

.marca{
	width: 75%;
	transition: .5s;
}

.marca:hover{
	transform: translateY(-5px);
}

.owl-nav button {
	font-size: 1.5rem!important;
	padding: 1rem!important;
	margin-left: 2rem!important;
	margin-right: 2rem!important;

}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
	background-color: rgba(0, 0, 0, 0.5);
	color: #f8bc2c!important;
}

.owl-nav button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
